@charset "utf-8"

/* 여백 초기화 */

body, div, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend,p, select, table, th, td, tr, textarea, button, form {margin: 0;
padding: 0;}


/* 폰트 초기화 */
body, input, textarea, select, button, table {
    font-family: 'Indie Flower', cursive;
    color: #222;
    font-size: 13px;
    line-height: 1.5;
}