@charset "utf-8"



/* 스킵 네비게이션 */
#skip {
    position: relative;
}

#skip a {
    position: absolute;
    left: 0px; 
    top: -35px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #333;
    text-align: center;
    text-decoration: none;
    width: 140px;
}
#skip a:active, #skip a:focus {
    top: 0;
}

a{
    text-decoration: none;
}
a:hover {
    color: #390;
}


/* 레이아웃 */
#wrap {}


#header {
    height: 325px;
    background: url(./img2/sky1.jpg) center top repeat-x;
}
#content {
}
#footer {
    height: 200px;
    background-color: #222;
}


/* content 레이아웃  */
#cont_nav {
    color : black;
    background-color: #f6fdff;
}
#cont_tit {
    background-color: #eaf7fd;

}
#cont_ban {
    background-color: #555;
    height: 200px;

}
#cont_cont {
    background-color: #666;
    height: 200px;

}



/* 컨테이너 */
.container {
    width: 990px;
    margin: 0 auto;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.3);
}



/* 헤더 메뉴 */
.header .header-menu {
    text-align: right;
}
.header .header-menu a {
    color: black;
    padding: 1px 0 10px 13px; /* 상우하좌 */
    display: inline-block;
}

    .header .header-menu a:hover {
        color: #666;
    }

.header .header-title {
    text-align: center;
}

.header .header-title h1 {
    background-color: black;
    font-size: 28px;
    padding: 8px 20px 5px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight: normal; text-transform: uppercase;
}
.header .header-title a {
    display: inline-block;
    color:#fff;
    background-color: rgb(62, 62, 62);
    font-size: 20px;
    padding: 5px 20px 6px 20px;
    margin-top: -6px;

}

/* 헤더 아이콘 */
.header .header-icon {
    text-align: center;
    margin: 30px;
}

.header .header-icon a {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url(./img2/icon1.png);
    margin: 0 3px;
}

.header .header-icon a.icon1 {
    background-position: 0 0;
}
.header .header-icon a.icon1:hover {
        background-position: -60px 0;
    }

.header .header-icon a.icon2 {
    background-position: 0 -60px;
}
.header .header-icon a.icon2:hover {
        background-position: -60px -60px;
    }


.header .header-icon a.icon3 {
    background-position: 0 -120px;
}
.header .header-icon a.icon3:hover {
    background-position: -60px -120px;
}

.header .header-icon a.icon4 {
    background-position: 0 -180px;
}
.header .header-icon a.icon4:hover {
    background-position: -60px -180px;
}



/* float: left로 인한 영역 깨짐(height: 0이 됨) -> 방지범
1. 깨지는 영역(부모 태그)에 똑같이 float: left; 사용 -> 모든 박스에 float: left;를 사용해야 함.
2. float의 성질을 차단하는 clear: both; 사용 -> 어떤 영역이 깨졌는지 찾기 어려움
3. float을 사용한 상위 박스에 overflow: hidden 사용 -> 현재 가장 많이 사용
4. clearfix 사용 (best!)
*/


/* 전체메뉴 */
.nav {
    overflow: hidden;
}

#cont_nav .container {
    width: 350px;
    margin: 0 auto;

}


.nav > div {
    width: 30%;
    display: inline-block;
    margin-left: 5px;
    

}

.nav > div:last-child {
    width: 30%;

}

.nav > div h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 30px;
    display: inline-block;
    text-align: center;
}

.nav > div ol {
    overflow: hidden;
    padding: 5px;
    display: inline-block;
    margin-left: 33px;
}
.nav > div ol li {
    width: 300%;
}
.nav div ol li a {
    color: black;
}


.nav > div.last ol li {
    width: 200%;
}
.nav > div ol li a:hover {
    color: #24a2d0;
}



/* 전체 타이틀 */
.tit {

}
.tit {
    font-size:40px; 
    position: relative; 
    width: 100%; max-width:100%;
    height: 20px; 
    padding: 10px 0 40px 0;
    display: inline-block;
    overflow-x: hidden; 
    overflow-y: hidden; }
.tit .track {
    position: absolute; 
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
@media (hover: hover) and (min-width: 700px){
    .animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
}
